/* General styles */
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f8f9fa; /* Bootstrap light background color */
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Bootstrap primary blue color */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.card-title i {
    margin-right: 10px;
}

.list-group-item {
    padding: 10px;
    border-bottom: none;
    transition: background-color 0.3s ease-in-out;
}

.list-group-item:hover {
    background-color: #e9ecef; /* Light gray hover effect */
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #555;
}

.list-group-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.list-group-item.d-flex {
    align-items: center;
}

.badge {
    font-size: 1em;
}

/* Add hover animations for cards */
.card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
